<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file" ref="file" @change="handleFileUpload">
      </label>
      <div class="my-2">
        <v-btn small color="primary" v-on:click="submitFile()">Upload</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'client',

    data(){
      return{
        file:'',
        text:'',
        csvName:'name',
        csv:{}
      }
    },
    methods:{
      handleFileUpload() {
        this.file = this.$refs.file.files[0];
        let reader = new FileReader();
        reader.readAsText(this.file, "UTF-8");
        reader.onload =  evt => {
          this.text = evt.target.result;
          this.csv = this.text.split(";");
          this.result = JSON.stringify(this.csv);

          window.console.log(this.csv);

        }
        reader.onerror = evt => {
          window.console.error(evt);
        }
      },
      submitFile(){
        let currentObj = this;
        fetch('http://mspr.califourchon.wtf/mspr-ci/csv/', {
          method : 'POST',
          headers: { "Content-Type" : "application/json" },
          body : JSON.stringify({
            "csvName": this.csvName,
            "csvValues": this.result
          })
        }).then((response) => {
          currentObj.output = response.data;
        })
                .catch(function (error) {
                  currentObj.output = error;
                });
      },
    }
  }
</script>
